// primary colors
$P-orange:#E95420;
$P-white: #FFFFFF;
$P-black: #000000;

// support colors
$S-light-aubergine:#77216F;
$S-mid-aubergine:#5E2750;
$S-dark-aubergine: #2C001E;

// neutral colours
$N-warm-grey: #AEA79F;
$N-cool-grey: #333333;
$N-text-grey: #111111;

// caronical core colours
$C-canonnical-aubergine: #772953;
$C-white: #ffffff;